body {
    color: rgb(0, 0, 0);
    background: rgb(231, 26, 146);
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    h1 {
        font-size: 40px;
      }
      p {
        font-size: 20px;
      }
}

header {
    border-bottom: solid 2px rgb(255, 255, 255);
    padding: 20px;
    font-size: 32px;
    color: rgb(255, 255, 255);
}

/* código omitido */

section {
    background: rgb(231, 26, 146);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}
